<main class="container">
  <section class="search">
    <form action="#" id="search-form" [formGroup]="cepForm" (ngSubmit)="procurar()" *ngIf="endereco == undefined">
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input type="text" matInput formControlName="numeroCep">
      </mat-form-field>
      <button mat-flat-button color="accent" matTooltip="Procurar Usuário" [disabled]>
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <p *ngIf="endereco!= undefined">{{endereco.cep}}</p>
    <p *ngIf="endereco!= undefined">{{endereco.logradouro}}</p>
    <p *ngIf="endereco!= undefined">{{endereco.complemento}}</p>
    <p *ngIf="endereco!= undefined">{{endereco.bairro}}</p>
    <p *ngIf="endereco!= undefined">{{endereco.localidade}}</p>
    <p *ngIf="endereco!= undefined">{{endereco.uf}}</p>
  </section>
</main>